
body {
    width: 1200px;
    margin: 0 auto;
}

#header {
    padding: 10px;
    background-color: steelblue;
    text-align: center;
    font-size: 26pt;
    height: 80px;
}

#menu {
    padding: 10px;
    background-color: cadetblue;
    text-align: center;
    height: 20px;
}

#content {
    padding: 50px;
    background-color: dimgray;
    height: 100%;
}

#footer {
    padding: 10px;
    background-color: orangered;
    text-align: center;
    height: 100px;
}

